{% include 'index_nav.html' %}
<div class="container my-5">
  <h2 class="mb-4">📚 Health Tips & Blog</h2>
  <div class="row">
    {% for blog in blogs %}
    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow-sm">
        {% if blog.image %}
        <img src="{{ blog.image.url }}" class="card-img-top" alt="{{ blog.title }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ blog.title }}</h5>
          <p class="card-text text-muted">{{ blog.content|truncatechars:120 }}</p>
          <a href="{% url 'blog_detail' blog.slug %}" class="btn btn-primary btn-sm">Read More</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% include 'footer.html' %}
