{% include 'navbar.html' %}
<div class="container mt-4">
  <h3>Change Password</h3>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <form method="POST">
    {% csrf_token %}
    <div class="form-group mb-3">
      <label>New Password</label>
      <input type="password" class="form-control" name="new_password" required>
    </div>

    <div class="form-group mb-3">
      <label>Confirm New Password</label>
      <input type="password" class="form-control" name="confirm_password" required>
    </div>

    <button type="submit" class="btn btn-warning">Change Password</button>
  </form>
</div>

