
<html lang="en">
<head>
    <title>Title</title>
    <style>
        h1{
        font-family:algerian;
        color:Blue;

        }
        .demo1{
        font-size:50px;
        }
        *{
        font-family:algerian;
        }
        h1{
        background-color:pink;
        }
    </style>
    <link href="style.css" rel="stylesheet">
</head>
<body>

<h1 style="color:red;font-size:40px;">Heading</h1>
<h1>Heading2</h1>
<p id="demo" class="demo1">Paragraph</p>
<p>Python</p>
<ol type="I" start="10">
    <li>Python</li>
    <li>Java</li>
    <li>PHP</li>
</ol>
<ul type="square">
    <li>Html</li>
    <li>Css</li>
    <li>Js</li>
</ul>

<dl>
    <dt>Python</dt>
    <dd>Python is a scripting language....</dd>
    <dt>Python</dt>
    <dd>Python is a scripting language....</dd>
    <dt>Python</dt>
    <dd>Python is a scripting language....</dd>
    <dt>Python</dt>
    <dd>Python is a scripting language....</dd>
</dl>



</body>
</html>