{% include 'index_nav.html' %}
<div class="container my-5" style="max-width: 500px;">
  <h2>Set New Password</h2>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label>New Password</label>
      <input type="password" name="password" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Confirm Password</label>
      <input type="password" name="confirm" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">Reset Password</button>
  </form>
</div>
{% include 'footer.html' %}
